<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class= 'ButtonBox'>
      <form action="/naver" method="get">
        <button type='submit' class="Button">네이버 실검</button>
      </form>
      <form action="/lotto" method="get">
        <button type='submit' class="Button">로또 통계</button>
      </form>
    </div>
  </body>
</html>
