<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>

    <div class= 'ButtonBox'>
      <button class="Button">네이버 실검</button>
      <button class="Button">로또 통계</button>
    </div>
    <iframe src="./toto.ejs" frameborder="0"></iframe>
  </body>
</html>
