<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <form action="/">
        <button type="submit">메인 메뉴</button>
      </form>

      <ul>
          <% for(let i = 0; i < week_arr.length; i++){%>
            <li>
              <%= week_arr[i] %> 회차 당첨 번호 : <span><%= Choiced_Number[i] %></span>
            </li>
            <%}%>
      </ul>

      <script>
      </script>
  </body>
</html>
