<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div>
        <!-- test -->
        <!-- <%= title %> -->
        <!-- <%= title[1].title %> -->
        <ol>
            <% for(let i = 0; i < title.length; i++){%>
              <li>
                <%= title[i].title %>
              </li>
              <%}%>
        </ol>
      </div>
  </body>
</html>
